@tailwind base;
@tailwind components;
@tailwind utilities;

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}
.container{
    @apply w-full max-w-7xl mx-auto my-auto px-[7px]
}

.hero .swiper-slide img {
    width: 90%;
}